/* Estilo del cuerpo de la página
------------------------------------------------------- */

#body{
    overflow: hidden;
}

/* Estilo de contenidos de la pagina
------------------------------------------------------- */

#general { 
    text-align: center;
}

#content { 
    padding: 100px 0px 5px 0px; 
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.usuario {
	position: absolute;
	margin-top: 10px;
	top: 0px;
	right: 0px;
    font-size: 1em;
}

/* Estilo de los mensajes de validacion de campos
------------------------------------------------------- */

*.error {
	background-color: #BC1010;
	padding: 6px 12px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	margin-left: 52px;
	margin-top: 4px;
	position: absolute;
	text-align: center;
	width: 172px;
}


.error:before { /*Crea una flechita*/
	content: '';
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 15px solid #BC1010;
	border-left: 8px solid transparent;
	left: -22px;
	position: absolute;
	top: 7.5px;
}